@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{




}


@foreach (var teacher in ViewBag.teachers)
{
    <p>Name: @teacher.Name - Home State: @teacher.HomeState</p>
}